RewriteEngine On
RewriteRule ^([^/]*)/$ /php/Phoenix/index.php?page=$1 [L]
RewriteRule ^([^/]*)/([^/]*)/$ /php/Phoenix/index.php?page=$1&sub=$2 [L]
RewriteRule ^([^/]*)/([^/]*)/([^/]*)/$ /php/Phoenix/index.php?page=$1&sub=$2&id=$3 [L]